@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    min-height: 100vh;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: black;
}
nav a {
    color: rgb(255, 255, 255);
    margin-left: 3rem;
    font-size: 1.1rem;
    text-decoration: none;
    border-bottom: 2px;
    transition: 
    color 0.3s ease-in-out,
    border bottom 0.3s ease-in-out;
}
nav a:hover {
    color: rgba(172, 113, 255, 0.942);
}
#main {
    min-height: 100vh;          
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.home-container {
    display: flex;            
    align-items: center;         
    gap: 50px;                    
    flex-wrap: wrap;             
}
.home-img img {
    width: 300px;
    border-radius: 50px;
    border: 4px solid #ffffffa2;
}
.home-content {
    text-align: left;         
    max-width: 400px;       
}
.home-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #c756ffeb;
    text-align: justify;
}
.home-content h1 span {
    display: block;
    font-size: 2rem;
    color: #ffffff;
    font-size: 50px;
}
.home-content h3 {
    font-size: 30px;
    margin-top: 0;
    color: #c756ffeb;
}
.home-content {
    text-align: left;    
    max-width: 500px;
}
.social-icons {
    margin-top: 350px; 
    margin-right: 20rem;      
    display: flex;
    gap: 20px;              
}
.social-icons a {
    color: #fff;
    font-size: 2rem;
    transition: 0.3s;
}
.social-icons a:hover {
    color: #c756ffeb;       
    transform: translateY(-5px);
}
.about-content img {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    border: 3px solid rgb(223, 223, 223);
}
.about-content {
    padding: 4%;
    display: flex;
    font-size: 15px;
    text-align: justify ;
}
.intro {
    margin-top: 25px;     
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: center;       
    text-align: center;
    font-size: 33px;
}
section {
    min-height: 100vh;  
    display: center;      
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    padding: 20px;
    box-sizing: border-box;
}
#main {
    background-color: #2d2727e4;
    color: white;
}

#introduction {
    background-color: #191818f6;
    color: white;
}

#about {
    background-color: #4b47478c;
    color: white;
}
#contact {  
    background-color: #191818f6;
    color: white;

}
section h1, section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}
section p {
    font-size: 1.2rem;
    max-width: 800px;
}
html {
    scroll-behavior: smooth;
}
#introduction p {
    text-align: center;  
    line-height: 2.0;    
    max-width: 900px;   
    margin: auto; 
    font-size: 25px;
}
#contact p {
    text-align: center;
    font-size: 20px;
}
#about p{
    font-size: 70px;
    text-align: center;
}